<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
 
<!--  <servlet>
 	<servlet-name>abc</servlet-name>
 	<servlet-class>com.sribinu.AddServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>abc</servlet-name>
 	<url-pattern>/add</url-pattern>
 </servlet-mapping>
 
 <servlet>
 	<servlet-name>sqr</servlet-name>
 	<servlet-class>com.sribinu.SquareServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>sqr</servlet-name>
 	<url-pattern>/square</url-pattern>
 </servlet-mapping>
 
  <servlet>
 	<servlet-name>my</servlet-name>
 	<servlet-class>com.sribinu.MyServlet</servlet-class>
 	
 	<init-param>
 		<param-name>name</param-name>
 		<param-value>Sribinu 2.0</param-value>
 	</init-param>
 	
 </servlet>
 <servlet-mapping>
 	<servlet-name>my</servlet-name>
 	<url-pattern>/myServlet</url-pattern>
 </servlet-mapping>
 
 <context-param>
 	<param-name>name</param-name>
 	<param-value>Sribinu</param-value>
 </context-param>
 
  <context-param>
 	<param-name>mail</param-name>
 	<param-value>sribinu@gmail.com</param-value>
 </context-param> -->
 
</web-app>